* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Gilroy;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}
